In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('iris.csv')

In [4]:
missing_values = df.isnull().sum()
print("Step 1: Check for missing values")
print(missing_values)

Step 1: Check for missing values
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
df = df.drop_duplicates()
print("Step 2: Remove duplicates")

Step 2: Remove duplicates

In [6]:
df['Species'] = df['Species'].astype('category')
print("Step 3: Convert the 'Species' column to categorical")

Step 3: Convert the 'Species' column to categorical

In [7]:
df = df.rename(columns={'SepalLengthCm': 'sepal_length', 'SepalWidthCm': 'sepal_width',
                        'PetalLengthCm': 'petal_length', 'PetalWidthCm': 'petal_width'})
print("Step 5: Renaming columns")

Step 5: Renaming columns

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_features = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = scaler.fit_transform(numerical_features)
print("Step 7: Scale numerical features")

Step 7: Scale numerical features

In [11]:
X = df.drop(columns=['Species'])
y = df['Species']
print("Step 9: Split the data into features and labels")

Step 9: Split the data into features and labels

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Step 10: Split the dataset into training and testing sets")

Step 10: Split the dataset into training and testing sets

In [14]:
X = df.drop(['Id','Species'], axis=1)
y = df['Species']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(90, 4)
(90,)
(60, 4)
(60,)

In [16]:
df.nunique()

Id              150
sepal_length     35
sepal_width      23
petal_length     43
petal_width      22
Species           3
dtype: int64

In [17]:
df.head()

   Id  sepal_length  sepal_width  petal_length  petal_width      Species
0   1     -0.900681     1.032057     -1.341272    -1.312977  Iris-setosa
1   2     -1.143017    -0.124958     -1.341272    -1.312977  Iris-setosa
2   3     -1.385353     0.337848     -1.398138    -1.312977  Iris-setosa
3   4     -1.506521     0.106445     -1.284407    -1.312977  Iris-setosa
4   5     -1.021849     1.263460     -1.341272    -1.312977  Iris-setosa

In [18]:
df.tail()

      Id  sepal_length  sepal_width  petal_length  petal_width         Species
145  146      1.038005    -0.124958      0.819624     1.447956  Iris-virginica
146  147      0.553333    -1.281972      0.705893     0.922064  Iris-virginica
147  148      0.795669    -0.124958      0.819624     1.053537  Iris-virginica
148  149      0.432165     0.800654      0.933356     1.447956  Iris-virginica
149  150      0.068662    -0.124958      0.762759     0.790591  Iris-virginica